<app-search-bar [queryList]='queryList' (childemit)="search($event)"></app-search-bar>
<div class="horizontal-scroll">
  <div class="zh-serchbox textcenter">
    <button nz-button nzType="primary" (click)="newMember()">创建用户</button>
  </div>

  <my-page [params]='params' [pagecount]='pageSize' [changecount]='pageSize.count' (childparams)="childparams($event)"></my-page>

  <nz-table #nzTable [nzData]="memberList" [nzShowPagination]="false" [nzFrontPagination]="false" 
    nzBordered>
    <thead>
      <tr>

        <th nzWidth="10%">门店编号</th>
        <th nzWidth="10%">用户名</th>
        <th nzWidth="10%">账号</th>
        <th nzWidth="5%">是否在线</th>
        <th nzWidth="5%">用户状态</th>
        <th nzWidth="10%">拣货时间</th>
        <th nzWidth="10%">手机号码</th>
        <th nzWidth="5%">创建人</th>
        <th nzWidth="10%">创建时间</th>
        <th nzWidth="5%">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of nzTable.data;let i=index" class="tbody-tr">
        <td nzWidth="10%">{{item.org_code}}</td>
        <td nzWidth="10%">{{item.name}}</td>
        <td nzWidth="10%">{{item.code}}</td>
        <td nzWidth="10%">{{item.is_online_name}} </td>
        <td nzWidth="5%">{{item.status_name}} </td>
        <td nzWidth="10"> {{item.picker_time}}</td>
        <td nzWidth="10%">{{item.mobileNo}}</td>
        <td nzWidth="10%">{{item.creator}}</td>
        <td nzWidth="10%">{{item.create_time}}</td>
        <td nzWidth="5%">
          <button nz-button nzType="default" (click)="updInfo(item)">修改</button>

        </td>

      </tr>
    </tbody>
  </nz-table>
</div>
