<div class="zh-serchbox">
  <table class="zh-serchtable">
    <tbody>
      <tr>
        <td>
          <table class="table zh-serch-table">
            <tr>
              <td class="zh-zdname">商品编码</td>
              <td class="zh-textbox">
                <input nz-input placeholder="请输入商品编码" [(ngModel)]="params.search.code">
              </td>
              <td class="zh-zdname">商品条码</td>
              <td class="zh-textbox">
                <input nz-input placeholder="请输入商品条码" [(ngModel)]="params.search.barcode">
              </td>
              <td class="zh-zdname">商品名称</td>
              <td class="zh-textbox">
                <input nz-input placeholder="请输入商品名称" [(ngModel)]="params.search.name">
              </td>
            </tr>
            <tr>
              <td class="zh-zdname">是否存在主档</td>
              <td class="zh-textbox">
                <nz-select style="width: 150px;" [(ngModel)]="params.search.is_base" nzAllowClear>
                  <nz-option nzValue="1" nzLabel="是"></nz-option>
                  <nz-option nzValue="-1" nzLabel="否"></nz-option>
                </nz-select>
              </td>
              <td class="zh-zdname">是否存在售价</td>
              <td class="zh-textbox">
                <nz-select style="width: 150px;" [(ngModel)]="params.search.is_price" nzAllowClear>
                  <nz-option nzValue="1" nzLabel="是"></nz-option>
                  <nz-option nzValue="-1" nzLabel="否"></nz-option>
                </nz-select>
              </td>
              <td class="zh-zdname">是否存在库存</td>
              <td class="zh-textbox">
                <nz-select style="width: 150px;" [(ngModel)]="params.search.is_stock" nzAllowClear>
                  <nz-option nzValue="1" nzLabel="是"></nz-option>
                  <nz-option nzValue="-1" nzLabel="否"></nz-option>
                </nz-select>
              </td>
            </tr>
            <tr>
              <td class="zh-zdname">是否启用</td>
              <td class="zh-textbox">
                <nz-select style="width: 150px;" [(ngModel)]="params.search.status" nzAllowClear>
                  <nz-option nzValue="1" nzLabel="启用"></nz-option>
                  <nz-option nzValue="-1" nzLabel="停用"></nz-option>
                </nz-select>
              </td>

            </tr>
          </table>
        </td>
        <td>
          <button nz-button nzType="primary" style="margin-right:10px;" (click)="search(params)">查询</button>
          <button nz-button nzType="default" (click)="Reset()">重置</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<my-page [params]='params' [pagecount]='pageSize' [changecount]='changecount' (childparams)="childparams($event)"></my-page>
<div class="horizontal-scroll">
  <div class="zh-listhead1">
    <!--<a href="http://www.m-glory.net/newadmin/templete/商品白名单导入模板.xlsx" class="btn btn-success">下载模板11</a>-->
    <button nz-button nzType="default" style="margin-right:2px;" (click)="download('商品白名单导入模板')">下载模板</button>
    <button nz-button nzType="default" (click)="addexport()"><i nz-icon type="file-excel" theme="outline"></i>导出到CSV文件</button>
    <app-upload [onUploaded]="uploaded" nzLimit="3" [uploadname]="'商品白名单导入'"></app-upload>
    <!-- <a href="javascript:;" class="zh-upload btn btn-success" *ngIf="spbmddr">
            <input type="file" style="line-height:22px;" (change)="uploadexcel(file2)" #file2 ng2FileSelect [uploader]="uploader" />
            商品白名单导入
          </a> -->
  </div>
  <nz-table #nzTable [nzData]="whitelists" [nzShowPagination]="false" [nzFrontPagination]="false" nzBordered>
    <thead>
      <tr>
        <th>序号</th>
        <th>是否启用</th>
        <th>商品编码</th>
        <th>商品条码</th>
        <th>商品名称</th>
        <th>是否有主档</th>
        <th>是否有价格</th>
        <th>是否有库存</th>
        <th>最后更新时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let whitelist of nzTable.data;let i=index">
        <td>{{cow+i+1}}</td>
        <td style="text-align:center;" [ngSwitch]="whitelist.status">
          <i nz-icon type="close-circle" style="color:#f00;" theme="outline" *ngSwitchCase="'-1'"></i>
          <i nz-icon type="check-circle" style="color:#5cb85c;" theme="outline" *ngSwitchDefault></i>
        </td>
        <!--<td>{{whitelist.source_type_keyword}}</td>-->
        <td>{{whitelist.code}}</td>
        <td>{{whitelist.barcode}}</td>
        <td>{{whitelist.name}}</td>
        <td>{{whitelist.is_base}}</td>
        <td>{{whitelist.is_price}}</td>
        <td>{{whitelist.is_stock}}</td>
        <td>{{whitelist.timestamp}}</td>
        <td>
          <span [ngSwitch]="whitelist.status">
            <button nz-button nzType="danger" *ngSwitchCase="'1'" (click)="delWhite(whitelist.barcode,whitelist.code,whitelist.status)">移除白名单</button>
            <button nz-button nzType="primary" *ngSwitchCase="'-1'" (click)="delWhite(whitelist.barcode,whitelist.code,whitelist.status)">恢复白名单</button>
          </span>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

<!-- 导入状态提示 -->
<div class="modal fade" [class.in]="importtip" *ngIf="results">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="closeimportip()">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">
          导入状态
        </h4>
      </div>
      <form>
        <div class="modal-body" style="max-height: 660px;overflow-y: scroll;">
          <!-- <import-tip [importres]="results"></import-tip> -->
        </div>
      </form>
    </div>
  </div>
</div>
