<!-- <div class="zh-serchbox">
  <table class="zh-serchtable">
    <tbody>
      <tr>
        <td>
          <table class="table zh-serch-table">
            <tr>
              <td class="zh-zdname" width="12%">渠道</td>
              <td class="zh-textbox" width="21%">
                <nz-select style="width: 95%;" [(ngModel)]="params.search.channel" nzAllowClear nzPlaceHolder="Choose">
                  <nz-option *ngFor="let channel of channels;" [nzValue]="channel.channel_keyword"
                    [nzLabel]="channel.name"></nz-option>
                </nz-select>
              </td>
              <td class="zh-zdname" width="12%">选择时间</td>
              <td style="text-align:left;">
                <my-daterange [_startDate]="_startDate" [_endDate]="_endDate" (startchange)="startchange($event)"
                  (endchange)="endchange($event)"></my-daterange>
              </td>
              <td>
                <button nz-button nzType="primary" style="margin-right:10px;" (click)="getBriefings()">查询</button>
                <button nz-button nzType="default" (click)="Reset()">重置</button>
              </td>
            </tr>
          </table>
        </td>

      </tr>
    </tbody>
  </table>
</div> -->
<app-search-bar [queryList]='queryList' [searchStart]="searchStart"
  (searchSubOnlineCategories)="getSelection('online_cat_code',$event)" (childemit)="search($event)"></app-search-bar>
<div class="horizontal-scroll">
  <div class="operatingbox">
    <button nz-button nzType="default" (click)="addexport()"><i nz-icon type="file-excel"
        theme="outline"></i>导出到CSV文件</button>
  </div>
  <nz-table #nzTable [nzData]="orderbriefings" [nzShowPagination]="false" [nzFrontPagination]="false" nzBordered>
    <thead>
      <tr>
        <th rowspan="2">店名</th>
        <th colspan="2">已释放</th>
        <th colspan="2">已备货</th>
        <th colspan="3">已签收</th>
        <th colspan="2">已取消</th>
        <th rowspan="2">订单数</th>
        <th rowspan="2">总金额</th>
      </tr>
      <tr>
        <th>订单数量</th>
        <th>销售金额</th>
        <th>订单数量</th>
        <th>销售金额</th>
        <th>订单数量</th>
        <th>销售金额</th>
        <th>客单价</th>
        <th>订单数量</th>
        <th>销售金额</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let orderbriefing of nzTable.data">
        <td *ngIf="orderbriefing.name">{{orderbriefing.name}}</td>
        <td><span *ngIf="orderbriefing.statuses['4']">{{orderbriefing.statuses['4'].total}}</span></td>
        <td><span *ngIf="orderbriefing.statuses['4']">{{orderbriefing.statuses['4'].money}}</span></td>
        <td><span *ngIf="orderbriefing.statuses['6']">{{orderbriefing.statuses['6'].total}}</span></td>
        <td><span *ngIf="orderbriefing.statuses['6']">{{orderbriefing.statuses['6'].money}}</span></td>
        <td><span *ngIf="orderbriefing.statuses['11']">{{orderbriefing.statuses['11'].total}}</span></td>
        <td><span *ngIf="orderbriefing.statuses['11']">{{orderbriefing.statuses['11'].money}}</span></td>
        <td><span *ngIf="orderbriefing.statuses['11']">{{orderbriefing.statuses['11'].kdj}}</span></td>
        <td><span *ngIf="orderbriefing.statuses['15']">{{orderbriefing.statuses['15'].total}}</span></td>
        <td><span *ngIf="orderbriefing.statuses['15']">{{orderbriefing.statuses['15'].money}}</span></td>
        <td><span *ngIf="orderbriefing.total">{{orderbriefing.total}}</span></td>
        <td><span *ngIf="orderbriefing.money">{{orderbriefing.money}}</span></td>
      </tr>
    </tbody>
  </nz-table>
  <!--
  <table class="table table-bordered zh-mulcoltable">
    <thead>
      <tr *ngIf="dcdcsvwj">
        <th colspan="12">

          <input type="button" class="btn btn-success" value="导出到CSV文件" (click)="addexport()">
        </th>
      </tr>
      <tr>
        <th rowspan="2">店名</th>
        <th colspan="2">已释放</th>
        <th colspan="2">已备货</th>
        <th colspan="3">已签收</th>
        <th colspan="2">已取消</th>
        <th rowspan="2">订单数</th>
        <th rowspan="2">总金额</th>
      </tr>
      <tr>
        <th>订单数量</th>
        <th>销售金额</th>
        <th>订单数量</th>
        <th>销售金额</th>
        <th>订单数量</th>
        <th>销售金额</th>
        <th>客单价</th>
        <th>订单数量</th>
        <th>销售金额</th>
      </tr>
    </thead>
    <tr *ngIf="!orderbriefings">
      <td colspan="16">暂无数据！</td>
    </tr>
    <tbody *ngIf="orderbriefings" class="textright">
      <tr *ngFor="let orderbriefing of orderbriefings">
        <td *ngIf="orderbriefing.name">{{orderbriefing.name}}</td>
        <td><span *ngIf="orderbriefing.statuses['4']">{{orderbriefing.statuses['4'].total}}</span></td>
        <td><span *ngIf="orderbriefing.statuses['4']">{{orderbriefing.statuses['4'].money}}</span></td>
        <td><span *ngIf="orderbriefing.statuses['6']">{{orderbriefing.statuses['6'].total}}</span></td>
        <td><span *ngIf="orderbriefing.statuses['6']">{{orderbriefing.statuses['6'].money}}</span></td>
        <td><span *ngIf="orderbriefing.statuses['11']">{{orderbriefing.statuses['11'].total}}</span></td>
        <td><span *ngIf="orderbriefing.statuses['11']">{{orderbriefing.statuses['11'].money}}</span></td>
        <td><span *ngIf="orderbriefing.statuses['11']">{{orderbriefing.statuses['11'].kdj}}</span></td>
        <td><span *ngIf="orderbriefing.statuses['15']">{{orderbriefing.statuses['15'].total}}</span></td>
        <td><span *ngIf="orderbriefing.statuses['15']">{{orderbriefing.statuses['15'].money}}</span></td>
        <td><span *ngIf="orderbriefing.total">{{orderbriefing.total}}</span></td>
        <td><span *ngIf="orderbriefing.money">{{orderbriefing.money}}</span></td>
      </tr>
    </tbody>
  </table> -->
</div>
<!-- <form nz-form [formGroup]="validateForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8" *ngFor="let control of controlArray" [style.display]="control.show?'block':'none'">
      <nz-form-item nzFlex>
        <nz-form-label [nzFor]="'field'+control.index">Field {{control.index}}</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="placeholder" [formControlName]="'field'+control.index" [attr.id]="'field'+control.index">
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" style="text-align: right;">
      <button nz-button [nzType]="'primary'">Search</button>
      <button nz-button (click)="resetForm()">Clear</button>
      <a style="margin-left:8px;font-size:12px;" (click)="toggleCollapse()">
        Collapse
        <i nz-icon [type]="isCollapse?'down':'up'"></i>
      </a>
    </div>
  </div>
</form>
<div class="search-result-list">
  Search Result List
</div> -->
