nav.ng2-smart-pagination-nav {
  display: flex;
  justify-content: center;
}
img.goodimg {
  width: 60px;
  height: 60px;
}
.table tbody + tbody {
  border-top: none;
}
select.form-control:not([size]):not([multiple]) {
  height: 35px;
  padding: 0;
}
/*搜索条件样式*/
.zh-serchbox {
  color: #fff!important;
}
.zh-serchbox .zh-serchtable {
  margin-bottom: 0px;
  border-top: 1px solid #fff;
}
.zh-serchbox .zh-serchtable td {
  vertical-align: middle;
  border-top: none;
}
.zh-serchbox .zh-serchtable .zh-zdname {
  text-align: right;
}
.zh-serchbox .zh-serchtable .zh-textbox {
  text-align: left;
}
.zh-serchbox .zh-serchtable .zh-serch-table {
  margin-bottom: 0;
}
.zh-serchbox .zh-serchtable .zh-serch-table td {
  border-top: 0;
  height: 50px;
}
.zh-serchbox input[type="radio"] {
  vertical-align: middle;
  margin-right: 5px;
}
.zh-serchbox .table .table {
  background: none;
}
.table tbody + tbody {
  border-top: none;
}
table td {
  vertical-align: middle;
}
.zh-dsrtable {
  border: 1px solid rgba(225, 225, 225, 0.2);
  border-top: none;
  color: #fff!important;
}
.zh-dsrtable span {
  text-align: center;
}
.zh-dsrtable td,
.zh-dsrtable th {
  text-align: center;
  overflow: hidden;
  vertical-align: middle!important;
}
.zh-dsrtable th {
  background: rgba(63, 122, 188, 0.5);
  color: #fff;
  font-weight: bold;
  word-wrap: break-word !important;
  white-space: normal!important;
  word-break: break-all !important;
}
.zh-scrolldiv {
  max-height: 420px;
  overflow-y: scroll;
}
@media screen and (min-height: 900px) {
  .zh-scrolldiv {
    max-height: 670px;
  }
}
@media screen and (max-height: 800px) {
  .zh-scrolldiv {
    max-height: 380px;
  }
}
.zh-listhead {
  border: 1px solid rgba(225, 225, 225, 0.3);
  border-bottom: none;
  margin-top: 15px;
  padding: 5px;
}
.btngroup {
  display: inline-block;
  margin: 0 15px;
}
.datebox {
  display: inline-block;
  width: 380px;
}
.billingtype {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}
.billingtype input[type="radio"] {
  vertical-align: -2px !important;
}
.gdtd {
  padding: 0!important;
  width: 135px;
  vertical-align: middle;
}
.gdtd span {
  display: inline-block;
}
.gdspan {
  display: inline-block !important;
  width: 65px;
  text-align: left;
  vertical-align: middle;
}
.gdspan label {
  margin-bottom: 0!important;
}
.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-right: 3px;
}
.label-success {
  background-color: #5cb85c;
}
.label-default {
  background-color: #777;
}
.label-warning {
  background-color: #f0ad4e;
}
.zh-nzmodalstyle {
  color: rgba(0, 0, 0, 0.65) !important;
}
.storestatus {
  width: 100%;
  border-top: 1px solid rgba(225, 225, 225, 0.3);
  padding: 10px 0;
}
.storestatus li {
  width: 20%;
  display: inline-block;
  text-align: center;
  font-size: 14px;
}
.storestatus li .statusnum {
  display: block;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
}
.zh-datetime .ant-time-picker {
  width: 80px!important;
  background: transparent;
}
.zh-datetime .ant-time-picker-input {
  color: #e1e1e1;
  background-color: transparent;
}
.ant-time-picker-icon:after {
  color: rgba(255, 255, 255, 0.43) !important;
}
.statusform {
  padding-top: 10px;
}
.statusform p {
  margin-bottom: 10px;
}
