
<h2 style="margin-top: 30px;">快速引流</h2>
<div style="margin-top: 20px;">
    <table width="100%">
        <tr>
            <td width="30%" style="margin-left: 3%;position: relative;">
                <div class="card-box card" (click)="onSkip('1')">
                    <div class="card-top">
                        <div class="card-pic" style="background: #FFBF00">降</div>
                        <div style="margin-left: 18px;width: 76%;">
                            <div class="card-title">单品直降</div>
                            <div class="card-body">
                                <span class="card-body-space">可以直接调价或打折</span>
                                <span>></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-bottom">
                        <div><span></span></div>
                        <div style="margin-left: 18px;"><span></span></div>
                    </div>
                </div>
            </td>
            <td width="30%" style="margin-left: 3%;position: relative;">
                <div class="card-box" style="cursor:not-allowed; opacity:0.5">
                    <div class="card-top">
                        <div class="card-pic" style="background: #F76868">团</div>
                        <div style="margin-left: 18px;width: 76%;">
                            <div class="card-title">拼团活动</div>
                            <div class="card-body">
                                <span class="card-body-space">3x人评团可享评团价x</span>
                                <span>></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-bottom">
                        <div><span></span></div>
                        <div style="margin-left: 18px;"><span></span></div>
                    </div>
                </div>
            </td>
            <td width="30%" style="margin-left: 3%;position: relative;">
                <div class="card-box" style="cursor:not-allowed; opacity:0.5">
                    <div class="card-top">
                        <div class="card-pic" style="background: #2C92F6">运</div>
                        <div style="margin-left: 18px;width: 76%;">
                            <div class="card-title">满减运费</div>
                            <div class="card-body">
                                <span class="card-body-space">消费满x免运费</span>
                                <span>></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-bottom">
                        <div><span></span></div>
                        <div style="margin-left: 18px;"><span></span></div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<h2 style="margin-top: 20px;">提升客串</h2>
<div style="margin-top: 20px;">
    <table width="100%">
        <tr>
            <td width="30%" style="margin-left: 3%;position: relative;">
                <div class="card-box card" (click)="onSkip('2')">
                    <div class="card-top">
                        <div class="card-pic" style="background: #F76868">满</div>
                        <div style="margin-left: 18px;width: 76%;">
                            <div class="card-title">满减活动</div>
                            <div class="card-body">
                                <span class="card-body-space">整单品类商品满减活动</span>
                                <span>></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-bottom">
                        <div><span></span></div>
                        <div style="margin-left: 18px;"><span></span></div>
                    </div>
                </div>
            </td>
            <td width="30%" style="margin-left: 3%;position: relative;">
                <div class="card-box" style="cursor:not-allowed; opacity:0.5">
                    <div class="card-top">
                        <div class="card-pic" style="background: #FFBF00">换</div>
                        <div style="margin-left: 18px;width: 76%;">
                            <div class="card-title">加购换价</div>
                            <div class="card-body">
                                <span class="card-body-space">满x元加x元换购指定商品</span>
                                <span>></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-bottom">
                        <div><span></span></div>
                        <div style="margin-left: 18px;"><span></span></div>
                    </div>
                </div>
            </td>
            <td width="30%" style="margin-left: 3%;position: relative;">
                <div class="card-box" style="cursor:not-allowed; opacity:0.5">
                    <div class="card-top">
                        <div class="card-pic" style="background: #5BD171">件</div>
                        <div style="margin-left: 18px;width: 76%;">
                            <div class="card-title">3件10元</div>
                            <div class="card-body">
                                <span class="card-body-space">3件10元</span>
                                <span>></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-bottom">
                        <div><span></span></div>
                        <div style="margin-left: 18px;"><span></span></div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td width="30%" style="margin-left: 3%;position: relative;">
                <div class="card-box" style="cursor:not-allowed;opacity:0.5">
                    <div class="card-top">
                        <div class="card-pic" style="background: #F76868">赠</div>
                        <div style="margin-left: 18px;width: 76%;">
                            <div class="card-title">满赠活动</div>
                            <div class="card-body">
                                <span class="card-body-space">整单品类商品满x元送赠品</span>
                                <span>></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-bottom">
                        <div><span></span></div>
                        <div style="margin-left: 18px;"><span></span></div>
                    </div>
                </div>
            </td>
            <td width="30%" style="margin-left: 3%;position: relative;">
                <div class="card-box" style="cursor:not-allowed; opacity:0.5">
                    <div class="card-top">
                        <div class="card-pic" style="background: #2C92F6">券</div>
                        <div style="margin-left: 18px;width: 76%;">
                            <div class="card-title">店内领券</div>
                            <div class="card-body">
                                <span class="card-body-space">x元券，满x元可使用</span>
                                <span>></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-bottom">
                        <div><span></span></div>
                        <div style="margin-left: 18px;"><span></span></div>
                    </div>
                </div>
            </td>
            <td width="30%" style="margin-left: 3%;position: relative;">
                <div class="card-box" style="cursor:not-allowed; opacity:0.5">
                    <div class="card-top">
                        <div class="card-pic" style="background: #FFBF00">件</div>
                        <div style="margin-left: 18px;width: 76%;">
                            <div class="card-title">第二件x元</div>
                            <div class="card-body">
                                <span class="card-body-space">第二件半价</span>
                                <span>></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-bottom">
                        <div><span></span></div>
                        <div style="margin-left: 18px;"><span></span></div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td width="30%" style="margin-left: 3%;position: relative;">
                <div class="card-box" style="cursor:not-allowed; opacity:0.5;">
                    <div class="card-top">
                        <div class="card-pic" style="background: #2C92F6">折</div>
                        <div style="margin-left: 18px;width: 76%;">
                            <div class="card-title">三件以上x折</div>
                            <div class="card-body">
                                <span class="card-body-space">三件以上x折</span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-bottom">
                        <div><span></span></div>
                        <div style="margin-left: 18px;"><span></span></div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>



<!-- <h2 style="margin-top: 20px;">拉新</h2> -->
<div style="margin-top: 20px;">
    <table width="100%">
        <tr>
            <td>
                <h2 style="margin-bottom: 20px;">拉新</h2>
            </td>
            <td>
                <h2 style="margin-bottom: 20px;">复购</h2>
            </td>
            <td>
                <h2 style="margin-bottom: 20px;">推新品</h2>
            </td>
        </tr>
        <tr>
            <td width="30%" style="margin-left: 3%;position: relative;">
                <div class="card-box" style="cursor:not-allowed;opacity:0.5">
                    <div class="card-top">
                        <div class="card-pic" style="background: #5BD171">减</div>
                        <div style="margin-left: 18px;width: 76%;">
                            <div class="card-title">新客立减</div>
                            <div class="card-body">
                                <span class="card-body-space">新客首单立减x元</span>
                                <span>></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-bottom">
                        <div><span></span></div>
                        <div style="margin-left: 18px;"><span></span></div>
                    </div>
                </div>
            </td>
            <td width="30%" style="margin-left: 3%;position: relative;">
                <div class="card-box" style="cursor:not-allowed;opacity:0.5">
                    <div class="card-top">
                        <div class="card-pic" style="background: #2C92F6">返</div>
                        <div style="margin-left: 18px;width: 76%;">
                            <div class="card-title">下单返券</div>
                            <div class="card-body">
                                <span class="card-body-space">消费满x元送x元券</span>
                                <span>></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-bottom">
                        <div><span></span></div>
                        <div style="margin-left: 18px;"><span></span></div>
                    </div>
                </div>
            </td>
            <td width="30%" style="margin-left: 3%;position: relative;">
                <div class="card-box" style="cursor:not-allowed;opacity:0.5">
                    <div class="card-top">
                        <div class="card-pic" style="background: #F76868">赠</div>
                        <div style="margin-left: 18px;width: 76%;">
                            <div class="card-title">买赠活动</div>
                            <div class="card-body">
                                <span class="card-body-space">购买指定商品可送赠品</span>
                                <span>></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-bottom">
                        <div><span></span></div>
                        <div style="margin-left: 18px;"><span></span></div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>